<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>
        <H1>States</H1>
        <UL>
        {% for v in dics|sort(attribute='name', case_sensitive=True) %}
            <LI>{{ v.id|e }}: <B>{{ v.name|e }}</B></LI>
                <UL>
                {% for c in dicc|sort(attribute='name', case_sensitive=True) if c.state_id == v.id %}
                    <LI>{{ c.id|e }}: <B>{{ c.name|e }}</B></LI>
                {% endfor %}
                </UL>
        {% endfor %}
        </UL>
     </BODY>
</HTML>
